<h3>Buyer Added</h3>
<p>
<%= @buyer.name %> (<%= @buyer.email %>) has been added to the waiting for <%= @product.title %>.
</p>
<% if @buyer.raise > 0 %>
<p>
They have raised the price to <%= number_to_currency(@buyer.raise) %>
</p>
<% end %>