<script type="text/javascript">
   window.mainPageTitle = 'Waiting List - <%= @product_origin[:title] %> ';

  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: window.mainPageTitle,
      icon: '/icon.png',
      buttons: {       
        secondary: {
          label: "Back",
          href: "/",
          target: 'app'
        }
      }
    });
  });
</script>

<div class="section">
    <div class="section-content">
      <div class="section-row">
        <div class="section-listing">
          <div class="section-options">
            <div class="section-filter">
              <div>
                <div class="filter-freecell"><input class="input-search" type="text" placeholder="Filter by product"></div>
              </div>
            </div>
            <div class="section-content">
              <div class="section-row">
                <table class="table-section">
                  <thead>
                    <tr>
                      <th class="sortable">Name</th>
                      <th class="sortable">E-mail</th>
                      <th class="sortable">Raise</th>
                    </tr>
                  </thead>
                  <tbody>                  
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
