<%= render "/common/top_bar" %>

  <div class="section">
    <div class="section-content">
      <div class="section-row">
        <div class="section-listing">

            <div class="section-content">
              <h1>Waiting Lists by Product</h1>
              <p>People can wait for things. And get them</p>
              <h3>Products</h3>
                <ol>
                <% @products.each do |product| %>
                <li>
                  <%= product.title %>, <%= product.vendor %>
                </li>
                <% end %>
              </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
