<%= render "/common/top_bar" %>

  <div class="section">
    <div class="section-content">
      <div class="section-row">
        <div class="section-listing">
            <div class="section-content">
              <label>Waiting Lists</label>
              <p>People can wait for things.</p>
              <label>Products</label>
                <ol>
                <% @product_buyers.each do |product| %>
                <li>
                  <%= product.buyers.count %>, <%= product.remote_id %>
                </li>
                <% end %>
              </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
