<%= render "/common/top_bar" %>

  <div class="section">
    <div class="section-content">
      <div class="section-row">
        <div class="section-listing">

            <div class="section-content">
              <h1>Waiting Lists by Product</h1>
              <p>People can wait for things. And get them</p>
              <h3>Lists</h3>
              <ol>
                <li>one</li>
              </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
