<script type="text/javascript">
   window.mainPageTitle = 'Help';

  ShopifyApp.ready(function(){
    ShopifyApp.Bar.setTitle(window.mainPageTitle);
    ShopifyApp.Bar.loadingOff();
  });
</script>

<div class="section">
  <div class="section-summary">
    <h1>Setup</h1>
    <p>Configure your theme before using the app</p>
  </div>
  <div class="section-content">
    <div class="section-row">
      <div class="section-cell">
        Information related to the section
      </div>
    </div>
  </div>
</div>  

<div class="section">
  <div class="section-summary">
    <h1>Setup</h1>
    <p>Configure your theme before using the app</p>
  </div>
  <div class="section-content">
    <div class="section-row">
      <div class="section-cell">
        Information related to the section
      </div>
    </div>
  </div>
</div>  