var YSPARAMS = {host:"<%= Settings.host %>/"};

var YS = YS || {};
YS.shop       = Shopify.shop;
YS.api_url    = YSPARAMS.host + "proxy"; // proxy api
YS.asset_url    = YSPARAMS.host + "assets"; // proxy api
YS.product_id = $(".yardsale-product").attr('data-id');
YS.elSettings = {};
YS.extraAjaxParams = {shop: YS.shop};
YS.noop       = function(){};  // noop

YS.loadStylesheet = function() {
  var s = document.createElement("link");
  s.setAttribute("rel", "stylesheet");
  s.setAttribute("type", "text/css");
  s.setAttribute("href", YS.asset_url + "/yard_sale.css");
  s.setAttribute("media", 'screen');
  var doc = document.getElementsByTagName('title')[0];
  doc.parentNode.insertBefore(s,doc);
};

YS.productCallback = function(data) {
  $(".yardsale-product").append(data['html']);
};

YS.productList = function() {
  var params = $.extend({product_id: YS.product_id}, YS.extraAjaxParams);
  $.get(YS.api_url + "/waitlists", params, YS.productCallback, "jsonp");
};

YS.toggleForm = function(event) {
  event.preventDefault();
  $(".waitlist_form").slideToggle();
};

YS.submitForm = function(event) {
  event.preventDefault();
  if(YS.validateForm()) {
    var params = $( "#waitlist_form_div" ).serialize();
    $.post(YS.api_url + "/waitlists", params)
    $(".waitlist_section").html("<br/><p>Thank you! We will e-mail you if the item becomes available.</p>");
    YS.toggleForm(event);
  }
};

YS.validateForm = function() {
  if(! $( "#waitlist_form_div" ).find("input[id=name]").val()) {
    alert("Please enter a name");
    return false;
  }
  if(! $( "#waitlist_form_div" ).find("input[id=email]").val()) {
    alert("Please enter an email address");
    return false;
  }
  return true;
};

(function() {
  YS.loadStylesheet();
  $(document).ready(function() {
    var el = $(".yardsale-product");
    if( el && el.length > 0) {
      // Attach event handlers to parent and children are loaded lazilly from
      // the script tag.
      $(".yardsale-product").on("click", ".wl_form_toggle", YS.toggleForm);
      $(".yardsale-product").on("click", ".waitlist_submit", YS.submitForm);
      // Load waiting list panel from server
      YS.productList();
    }
  });
})();
