<div class="gvsection" id="gv_dashboard">
  <div class="gvrating">
      <% if product_available == 0 %>
      <p>
        The item has been reserved, but not payed for yet. You can <a href="#">Join the waiting list</a>!
      </p>
      <% end %>
  </div>
</div>
