<div class="gvsection" id="gv_dashboard">
  <div class="gvrating">
    <p>
      This was generated on the server. And is quite boring. <strong><%= product_available %></strong> people are
      waiting for this item. <a href="#">Join the waiting list</a>
    </p>
  </div>
</div>
